.body {
    font-family: var(--font-inter), sans-serif;
}
  
h1, h2, h3, h4, h5, h6 {
font-family: var(--font-inter), sans-serif;
}

.title_index {
    text-align: center;
}

.productos-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    border-radius: 5px;
}
.title_productos{
    text-align: center;
}

.producto {
    border: 1px solid #ccc;
    padding: 10px;
    margin: 10px;
    width: 200px;
    border-radius: 5px;
    justify-content: center;
}

#carrito {
    border: 1px solid #ccc;
    padding: 10px;
    margin-top: 20px;
}

#lista-carrito {
    list-style-type: none;
    padding: 0;
}

#lista-carrito li {
    margin-bottom: 5px;
}

button {
    background-color: #ff0000c2;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

button:hover {
    background-color: #ff0000c2;
}

body {
    margin: 0;
    font-family: Arial, sans-serif;
}

.navbar {
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
}

.navbar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar-title a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    font-size: 1.2em;
}

.navbar-logo svg {
    padding-top: -10px;
    text-align: initial;
}

.navbar-links ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.navbar-links ul li {
    display: inline;
    margin-right: 20px;
}

.navbar-links ul li a {
    color: #fff;
    text-decoration: none;
}

.navbar-auth a {
    color: #fff;
    text-decoration: none;
    margin-left: 20px;
}

.btn-register {
    background-color: #ff0000c2;
    padding: 10px 20px;
    border-radius: 5px;
}

.btn-login {
    background-color: #ff0000c2;
    padding: 10px 20px;
    border-radius: 5px;
}