body{
  margin: 0;
  box-sizing: border-box;
  
  display: grid;
  place-content: center;
}

.title{
  text-align: center;
}

table{
  border: 1px solid black;
  border-collapse: collapse;
}
table tr, table td{
  padding: 1em;
}